<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LinkHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LinkHub.styles.css" asp-append-version="true" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-success border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <div>
                        <h3 class="text-white">
                            LinkHub
                        </h3>
                    </div>
                    <div class="mx-auto text-center">
                        <h3 class="text-white">
                            @ViewData["Page"]
                        </h3>
                    </div>
                    <div class="me-2">
                        <input type="text" id="searchInput" class="form-control form-control-sm" placeholder="Buscar..." onkeyup="filterLinks()" />
                    </div>
                    <div>
                        @if (Context.Items["FullName"] != null)
                        {
                            <div class="dropdown">
                                <a class="dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Context.Items["FullName"]
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Admin</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Perfil</a></li>
                                    <li>
                                        <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                                            <button type="submit" class="dropdown-item">Sair</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">
                                <i class="fas fa-sign-out-alt"></i> Entrar
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - LinkHub - IFSertãoPE Campus Floresta
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/links-filter.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/datatables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
