@using LinkHub.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Pages" asp-action="Index">
                <i class="fas fa-globe"></i> Páginas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Users" asp-action="Index">
                <i class="fas fa-users"></i> Usuários
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Logs" asp-action="Index">
                <i class="fas fa-tasks"></i> Logs
            </a>
        </li>
    }
}