@model IEnumerable<Page>

@{
    ViewData["Title"] = "Home Page";
}

<div class="cards-home-container">
    @foreach(var item in Model)
    {
        <a href="Link/@item.Name" target="_blank" class="text-decoration-none">
            <div class="card-home">
                <div class="card-home-body">
                    @item.Name
                </div>
            </div>
        </a>
    }
 </div>