@{
    ViewData["Title"] = "Página não encontrada";
    Layout = "_LayoutPageNotFound";
}

<div>
    <h2>Página não encontrada.</h2>
    <div class="alert alert-warning" role="alert">
        O endereço é inválido ou a página que você procura não existe mais!
    </div>
</div>