html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
}

.card-img-top {
    width: 100%;
    height: 12vh;
    object-fit: contain;
}

.nav-tabs .nav-link {
    color: #8e8e8e;
}

.nav-tabs .nav-link.active {
    background-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
    color: #029b1d;
    font-weight: bold
}

.nav-tabs .nav-link:hover {
    color: #029b1d;
}

.navbar-nav .nav-item {
    border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #6fe090 !important;
}

.navbar-nav .nav-item:last-child {
    border-right: none !important;
}

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        border-right: none !important;
    }

    .navbar-nav .navbar-text {
        display: none !important;
    }
}

.btn-user-settings {
    color: #03901c;
}

.btn-user-settings:hover {
    color: #06742b;
}

/* Cards da Página Home */
.card-home {
    background-color: #28a745;
    color: white;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 250px;
    height: 200px;
    margin: 15px;
    border-radius: 15px;
}

.card-home:hover {
    background-color: #218838;
}

.card-home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

.cards-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.select2-container .select2-selection--multiple {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.select2-selection__choice {
    margin-right: 5px;
}